@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "MÁQUINAS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model KeytecAdministración.Models.IndexViewModel
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>

<div style="margin:10px;">
    <h4>Filtrar</h4>

    @using (Html.BeginForm(null, null, FormMethod.Get))
    {
        <label scope="col" for="Instancia">Instancia</label>
        <input type="text" name="Instancia" id="Instancia" />
        <input type="submit" value="Filtrar" class="btn btn-success" />
    }
    @using (Html.BeginForm(null, null, FormMethod.Get))
    {
        <label scope="col" for="SN">SN</label>
        <input type="text" name="SN" id="SN" />
        <input type="submit" value="Filtrar" class="btn btn-success" />
    }
</div>
<div class="container-fluid">
    <h1 class="mt-4">Administración máquinas</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Todas las máquinas y sus instancias</li>
    </ol>
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nombre Máquina</th>
                    <th>Machine number</th>
                    <th>SN</th>
                    <th>Instancia</th>
                    <th>ID Sucursal</th>
                    <th>Número Huellas</th>
                    <th>Número Usuarios</th>
                    <th>Número Rostros</th>
                    <th>Versión FW</th>
                    <th>Último reporte</th>
                    <th>Estado</th>
                    <th>Tra.Pendiente</th>
                    <th>Perfil Pendiente</th>
                    <th>Caras Pendiente</th>
                    <th>Huellas Pendiente</th>
                    <th>Reinicio Pendiente</th>
                    <th>Eliminados Pendiente</th>
                    <th>Descarga Pendiente</th>
                    <th>Otras.Pendiente</th>
                    <th>IdRegion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>id</th>
                    <th>Nombre Máquina</th>
                    <th>Machine number</th>
                    <th>SN</th>
                    <th>Instancia</th>
                    <th>ID Sucursal</th>
                    <th>Número Huellas</th>
                    <th>Número Usuarios</th>
                    <th>Número Rostros</th>
                    <th>Versión FW</th>
                    <th>Último reporte</th>
                    <th>Estado</th>
                    <th>Tra.Pendiente</th>
                    <th>Perfil Pendiente</th>
                    <th>Caras Pendiente</th>
                    <th>Huellas Pendiente</th>
                    <th>Reinicio Pendiente</th>
                    <th>Eliminados Pendiente</th>
                    <th>Descarga Pendiente</th>
                    <th>Otras.Pendiente</th>
                    <th>IdRegion</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>

            @foreach (var item in Model.TableMaquinas)
            {
                <tbody>
                    <tr style="height:80%;">
                        <td scope="col">@item.Id</td>
                        <td scope="col">@Html.DisplayFor(Model => item.MachineAlias)</td>
                        <td scope="col">@Html.DisplayFor(Model => item.MachineNumber)</td>
                        <td scope="col">@Html.DisplayFor(Model => item.Sn)</td>
                        <td scope="col">@Html.DisplayFor(Model => item.Instancia)</td>
                        <td scope="col">@Html.DisplayFor(Model => item.IdSucursal)</td>
                        <td scope="col">@Html.DisplayFor(Model => item.EstCantHuellas)</td>
                        <td scope="col">@Html.DisplayFor(Model => item.EstCantUsuarios)</td>
                        <td scope="col">@Html.DisplayFor(Model => item.EstCantRostros)</td>
                        <td scope="col">@Html.DisplayFor(Model => item.EstVersionFw)</td>
                        <td scope="col">@Html.DisplayFor(Model => item.EstUltimoReporte)</td>
                        @if (item.Estado == 0)
                        {
                            <td>
                                <div class="spinner-border text-danger">

                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="spinner-border text-success">

                                </div>
                            </td>
                        }

                        <td scope="col">@Html.DisplayFor(Model => item.TraPendiente)</td>
                        <td scope="col">@Html.DisplayFor(Model => item.PerfilPendiente)</td>
                        <td scope="col">@Html.DisplayFor(Model => item.CarasPendiente)</td>
                        <td scope="col">@Html.DisplayFor(Model => item.HuellasPendiente)</td>
                        <td scope="col">@Html.DisplayFor(Model => item.ReinicioPendiente)</td>
                        <td scope="col">@Html.DisplayFor(Model => item.EliminadosPendiente)</td>
                        <td scope="col">@Html.DisplayFor(Model => item.DescargaPendiente)</td>
                        <td scope="col">@Html.DisplayFor(Model => item.OtrasPendiente)</td>
                        <td scope="col">@Html.DisplayFor(Model => item.IdRegion)</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Accion
                                </button>
                                <div class="dropdown-menu">
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <button type="button" class="btn btn-primary" id="reinicio" data-toggle="modal" onclick="llenarSnModalreiniciar('@item.Sn')" data-id="@item.Sn" data-target="#myModal">
                                            Reinicio
                                        </button>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <button type="button" class="btn btn-danger" id="Eliminar" data-toggle="modal" onclick="llenarSnModaleliminar('@item.Sn')" data-id="@item.Sn" data-target="#eliminarModal">
                                            Eliminar
                                        </button>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <button type="button" class="btn btn-success" id="desc" data-toggle="modal" onclick="llenarSn('@item.Sn')" data-id="@item.Sn" data-target="#descargarModal">
                                            Descargar
                                        </button>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <button type="button" class="btn btn-warning" id="modificar" data-toggle="modal" onclick="llenarSnModalmodificar('@item.Sn')" data-id="@item.Sn" data-target="#modificarModal">
                                            Zona Horaria
                                        </button>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <button type="button" class="btn btn-info" id="proxy" data-toggle="modal" onclick="llenarSnModalproxy('@item.Sn')" data-id="@item.Sn" data-target="#proxyModal">
                                            Añadir a proxy
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Reiniciar Maquina</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div id="modal-content">
                        <div class="form-group">
                            <label>SN Maquina</label>
                            <input type="text" style="width:350px;" disabled class="form-control" id="sn">
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="Submit" id="confirmar1" class="btn btn-primary">Realizar accion</button>
                    Respuesta: <span id="spanRespuesta"></span>
                </div>

            </div>
        </div>
    </div>
    <div class="modal" id="eliminarModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar Maquina</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div id="modal-content">
                        <div class="form-group">
                            <label>SN Maquina</label>
                            <input type="text" disabled style="width:350px;" class="form-control" id="sne">
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="Submit" id="eliminar1" class="btn btn-primary">Realizar accion</button>
                    Respuesta: <span id="spanRespuestae"></span>
                </div>

            </div>
        </div>
    </div>
    <div class="modal" id="modificarModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modificar zona horaria</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div id="modal-content">
                        <div name="f1" class="form-group">
                            <form name="f1">
                                <label>SN Maquina</label>
                                <input type="text" disabled style="width:350px;" class="form-control" id="snm">
                                <br />
                                <label for="paises">Elegir país</label>
                                <select id="paises" class="form-c" name="pais" onchange="cambia_provincia()">
                                    <option value="0" selected>Seleccione...</option>
                                    <option value="1">Chile</option>
                                    <option value="2">Colombia</option>
                                    <option value="3">México</option>
                                    <option value="4" >Perú</option>
                                </select>
                                <label for="zonas">Elegir zona horaria</label>
                                <select id="zonas" class="form-c" name="provincia">
                                    <option value="-">-</option>
                                </select>
                                
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="Submit" id="modificar1" class="btn btn-primary">Realizar accion</button>
                    Respuesta: <span id="spanRespuestam"></span>
                </div>

            </div>
        </div>
    </div>

    <div class="modal" id="descargarModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Descarga Equipo</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div id="modal-content">
                        <div class="form-group">
                            <label>SN Maquina</label>
                            <input type="text" disabled style="width:350px;" id="s" class="form-control">
                            <br />
                            <label>Fecha inicio</label>
                            <input type="datetime-local" style="width:350px;" class="form-control" id="fecha_ini">
                            <label>Fecha Fin</label>
                            <input type="datetime-local" style="width:350px;" class="form-control" id="fecha_fin">
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="Submit" id="descargar1" class="btn btn-primary">Realizar accion</button>
                    Respuesta: <span id="spanRespuestap"></span>
                </div>

            </div>
        </div>
    </div>
    <div class="modal" id="proxyModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Agregar Maquina a Nemo proxy</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div id="modal-content">
                        <div class="form-group">
                            <label>SN Maquina</label>
                            <input type="text" disabled style="width:350px;" class="form-control" id="snp">
                            <br />
                            <label for="host">Elegir Host:</label>
                            <select id="hosts" class="form-c" name="host">
                                <option>ADMS5T</option>

                                <option>ADMS6</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="Submit" id="proxy1" class="btn btn-primary">Realizar accion</button>
                    Respuesta: <span id="spanRespuestap"></span>
                </div>

            </div>
        </div>
    </div>


</div>
@section scripts{

    <script src="~/js/site.js"></script>
    <script src="~/js/bootstrap-datetimepicker.js"></script>

    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    
    <script>
        $(function () {
            $("#descargar1").click(function () {
                var url = "@Url.Action("Descargar","Home")";
                var sn = $("#s").val();
                var fecha_inicio = $("#fecha_ini").val();
                var fecha_final = $("#fecha_fin").val();
                var data = { sn: sn, fecha_inicio: fecha_inicio , fecha_final: fecha_final };

                $.post(url, data).done(function (data) {
                    $("#spanRespuestad").html(data);
                }).fail(manejarErrorAjax).always(function () {

                });
            });
            function manejarErrorAjax(err) {
                console.log(err.responseText);
            }
        });
    </script>

    <script>
        $(function () {
            $("#confirmar1").click(function () {
                var url = "@Url.Action("Reinicio","Home")";
                var sn = $("#sn").val();
                var data = { sn: sn };

                $.post(url, data).done(function (data) {
                    $("#spanRespuesta").html(data);
                }).fail(manejarErrorAjax).always(function () {

                });
            });
            function manejarErrorAjax(err) {
                console.log(err.responseText);
            }
        });
    </script>
    <script>
        $(function () {
            $("#Eliminar1").click(function () {
                var url = "@Url.Action("Eliminar","Home")";
                var sn = $("#sne").val();
                var data = { sn: sn };

                $.post(url, data).done(function (data) {
                    $("#spanRespuestae").html(data);
                }).fail(manejarErrorAjax).always(function () {

                });
            });
            function manejarErrorAjax(err) {
                console.log(err.responseText);
            }
        });
    </script>

    <script>
        $(function () {
            $("#modificar1").click(function () {
                var url = "@Url.Action("Modificar","Home")";
                var sn = $("#snm").val();
                var pais = $("#paises").val();
                var zona = document.f1.zonas[document.f1.zonas.selectedIndex].value
                
                var data = { sn: sn, pais: pais, zona: zona };

                $.post(url, data).done(function (data) {
                    $("#spanRespuestam").html(data);
                }).fail(manejarErrorAjax).always(function () {

                });
            });
            function manejarErrorAjax(err) {
                console.log(err.responseText);
            }
        });
    </script>

    <script>
        $(function () {
            $("#proxy1").click(function () {
                var url = "@Url.Action("Proxy","Home")";
                var sn = $("#snp").val();
                var host = $("#hosts").val();
                var data = { sn: sn,host:host };

                $.post(url, data).done(function (data) {
                    $("#spanRespuestap").html(data);
                }).fail(manejarErrorAjax).always(function () {

                });
            });
            function manejarErrorAjax(err) {
                console.log(err.responseText);
            }
        });
    </script>
    <script>
        var provincias_1 = new Array("-", "Punta Arenas", "Metropolitana", "...");
        var provincias_2 = new Array("-",  "...");
        var provincias_3 = new Array("-",  "...");
        var provincias_4 = new Array("-",  "...");

        var todasProvincias = [
            [],
            provincias_1,
            provincias_2,
            provincias_3,
            provincias_4,
        ];

        function cambia_provincia() {
            //tomo el valor del select del pais elegido
            var pais
            pais = document.f1.pais[document.f1.pais.selectedIndex].value
            //miro a ver si el pais está definid
            if (pais != 0) {
                //si estaba definido, entonces coloco las opciones de la provincia correspondiente.
                //selecciono el array de provincia adecuado
                mis_provincias = todasProvincias[pais]
                //calculo el numero de provincias
                num_provincias = mis_provincias.length
                //marco el número de provincias en el select
                document.f1.provincia.length = num_provincias
                //para cada provincia del array, la introduzco en el select
                for (i = 0; i < num_provincias; i++) {
                    document.f1.provincia.options[i].value = mis_provincias[i]
                    document.f1.provincia.options[i].text = mis_provincias[i]
                }
                document.f1.pais[document.f1.pais.selectedIndex].value = document.f1.pais[pais].innerText
                

            } else {
                //si no había provincia seleccionada, elimino las provincias del select
                document.f1.provincia.length = 1
                //coloco un guión en la única opción que he dejado
                document.f1.provincia.options[0].value = "-"
                document.f1.provincia.options[0].text = "-"
            }
            //marco como seleccionada la opción primera de provincia
            document.f1.provincia.options[0].selected = true
        }

    </script>




}
<div class="container-fluid">
    @{Html.RenderPartial("_paginador", Model);}
</div>

